@import "tailwindcss";

@theme {
    --animate-shine: shine 1.5s infinite;
    --animate-gradient-x: gradient-x 3s ease infinite;

    @keyframes shine {
        100% {
            left: 125%;
        }
    }

    @keyframes gradient-x {

        0%,
        100% {
            background-size: 200% 200%;
            background-position: left center;
        }

        50% {
            background-size: 200% 200%;
            background-position: right center;
        }
    }
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* Prevent horizontal scroll from animations */
}